@charset "utf-8";

/* reset */
html,body,div,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,span,img,a,form,input,select,label,textarea,button,legend,iframe,blockquote,pre,hr,figure,table,td,th,tr,caption,header,footer,section,article,aside,nav {margin: 0;padding: 0;}
ul,ol {list-style: none;}
a,button {cursor: pointer;}
a {text-decoration: none;}
fieldset,img {border: 0;}
h1,h2,h3,h4,h5,h6 {font-size:100%}
button,input,select,textarea {font-size:100%}


html, body {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, "Microsoft YaHei", sans-serif;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    width: 92%;
    min-height: 100%;
    min-width: 980px;
}

.sidebar {
    position: absolute;
    left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: #fff;
}

.sidebar h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
    color: #666;
}

.sidebar .threshold {
    position: relative;
    margin-top: 40px;
}

.sidebar .threshold .threshold-checkbox {
    margin-bottom: 10px;
}

.sidebar .threshold .threshold-val {
    position: absolute;
    top: 0;
    right: 120px;
    font-size: 18px;
    color: #36b953;
}


.sidebar .mode {
    margin-top: 30px;
}

.sidebar .mode label {
    width: 50px;
    margin-right: 20px;
}

.sidebar .scale {
    margin-top: 20px;
    margin-bottom: 40px;
}

.sidebar .disable .btn-small {
    color: #ccc;
    cursor: default;
}

.sidebar .disable input[type="range"]::-webkit-slider-thumb {
    background-color: #ccc;
}

.sidebar .disable .threshold-val {
    color: #ccc;
}

.sidebar .disable .option + label::before {
    -webkit-box-shadow: 0 0 0 2px #ccc;
            box-shadow: 0 0 0 2px #ccc;
    background-color: #fff;
    cursor: default;
}

.sidebar .disable .option:checked + label::before {
    -webkit-box-shadow: 0 0 0 2px #ccc;
            box-shadow: 0 0 0 2px #ccc;
    background-color: #ccc;
    cursor: default;
}

.sidebar .disable label {
    color: #666;
    cursor: default;
}


#scale {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    width: 140px;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    outline: none;
    color: #333;
}

.main {
    overflow: hidden;
    padding-top: 40px;
    margin-left: 320px;
    min-width: 500px;
}

#canvas {
    display: block;
    margin:  0 auto;
    max-width: 500px;
}

#img-upload {
    display: none;
}

#img-preview {
    margin-top: 20px;
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    line-height: 200px;
    text-align: center;
    color: #999;
}

#img-preview img {
    display: inline-block;
    max-width: 300px;
    max-height: 250px;
    vertical-align: middle;
}

.option {
    position: absolute;
    left: 0;
    visibility: hidden;
}

.option + label {
    display: inline-block;
    position: relative;
    left: 26px;
    cursor: pointer;
}
.option + label::before {
    content: '';
    position: absolute;
    left: -24px;
    top: 2px;
    width: 8px;
    height: 8px;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0 0 2px #36b953;
            box-shadow: 0 0 0 2px #36b953;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
}

.option:checked + label::before {
    content: '';
    position: absolute;
    left: -24px;
    top: 2px;
    width: 8px;
    height: 8px;
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0 0 2px #36b953;
            box-shadow: 0 0 0 2px #36b953;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #36b953;
}

input[type="range"] {
    width: 230px;
    height: 2px;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    outline: none;
    background-color: #b9c4bf;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 12px;
    background-color: rgba(42, 210, 110, .9);
    border: none;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0 0 1px rgba(42, 210, 110, .2);
            box-shadow: 0 0 1px rgba(42, 210, 110, .2);
}

label {
    color: #333;
}

.btn {
    display: block;
    padding: 6px;
    width: 80px;
    height: 20px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, .2);
    color: #fff;
    background-color: #36b953;
    cursor: pointer;
    -webkit-transition: opacity .5s;
            transition: opacity .5s;
}

.btn:hover {
    opacity: .8;
}

.btn-small {
    display: inline-block;
    vertical-align: middle;
    padding: 0 6px;
    width: 24px;
    height: 18px;
    border: none;
    outline: none;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, .2);
    color: #36b953;
    background-color: #fff;
    cursor: pointer;
}
